a {
	font-family: "Helvetica Neue", Helvetica, Verdana, "Lucida Grande", Futura, "Gill Sans", Optima;
	font-weight: bold;
	color: #d6cda3;
	text-decoration: none;
}

a2 {
	color: #7d4228;
}

a:hover {
		font-family: "Helvetica Neue", Helvetica, Verdana, "Lucida Grande", Futura, "Gill Sans", Optima;
	text-shadow: #000 0 1px 0;
	text-decoration: none;
	color: #d6cda3;
}

a:active {
	font-family: "Helvetica Neue", Helvetica, Verdana, "Lucida Grande", Futura, "Gill Sans", Optima;
	text-shadow: #000 0 1px 0;
	text-decoration: none;
	color: #d6cda3;
	text-decoration: underline;
}

body {
	background-color: #996;
}
#wrap {
	font-family: "Helvetica Neue", Helvetica, Verdana, "Lucida Grande", Futura, "Gill Sans", Optima;
	margin:0 auto;
	width:960px;
	color: #7d5328;
}

h1 {
	font-size: 36px;
	text-align: center;
}

h2 {
	font-size: 16px;
	text-align: center;
}
.hide {
	display: none;
}

label {
	display:block;
}
input {
	display:block;
}
